In [81]:
import pandas as pd

In [82]:
stats = pd.read_csv("player_mvp_stats.csv")
stats.head()

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73

#### Clean data

In [83]:
del stats["Unnamed: 0"]

In [84]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73

In [85]:
pd.isnull(stats).sum() # adds up all the True values for isnull

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          50
3P            0
3PA           0
3P%        2042
2P            0
2PA           0
2P%          84
eFG%         50
FT            0
FTA           0
FT%         462
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W          6805
L          6805
W/L%       6805
GB         6805
PS/G       6805
PA/G       6805
SRS        6805
dtype: int64

In [86]:
# 3P% is null if the 3PA(3P attempt) is 0. Check if its true
stats[pd.isnull(stats)["3P%"]][["Player","3P","3PA","3P%"]]

                 Player   3P  3PA  3P%
2        Elden Campbell  0.0  0.0  NaN
3         Irving Thomas  0.0  0.0  NaN
18           Jack Haley  0.0  0.0  NaN
20          Keith Owens  0.0  0.0  NaN
30      Benoit Benjamin  0.0  0.0  NaN
...                 ...  ...  ...  ...
14061    Evan Eschmeyer  0.0  0.0  NaN
14062  Gheorghe Mureșan  0.0  0.0  NaN
14064     Jim McIlvaine  0.0  0.0  NaN
14070  Mark Hendrickson  0.0  0.0  NaN
14071      Michael Cage  0.0  0.0  NaN

[2042 rows x 4 columns]

In [87]:
stats[pd.isnull(stats)["FT%"]][["Player","FT","FTA","FT%"]]

                Player   FT  FTA  FT%
77          John Coker  0.0  0.0  NaN
92        Jason Sasser  0.0  0.0  NaN
103    Adrian Caldwell  0.0  0.0  NaN
119       Bruno Šundov  0.0  0.0  NaN
158     Jamal Robinson  0.0  0.0  NaN
...                ...  ...  ...  ...
13951    Mark McNamara  0.0  0.0  NaN
13979      Luke Zeller  0.0  0.0  NaN
14032      Myron Brown  0.0  0.0  NaN
14054      Malcolm Lee  0.0  0.0  NaN
14088      Steve Novak  0.0  0.0  NaN

[462 rows x 4 columns]

In [88]:
# fill the null percentages with 0.
stats=stats.fillna(0)
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.0,Milwaukee Bucks,0.0,0.0,0.000,0.0,0.0,0.0,0.00
14088,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.0,Milwaukee Bucks,0.0,0.0,0.000,0.0,0.0,0.0,0.00
14089,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.0,Milwaukee Bucks,0.0,0.0,0.000,0.0,0.0,0.0,0.00
14090,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.0,Milwaukee Bucks,0.0,0.0,0.000,0.0,0.0,0.0,0.00
14091,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.0,Milwaukee Bucks,0.0,0.0,0.000,0.0,0.0,0.0,0.00

#### Training ML model

In [89]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [90]:
# to  make a prediction we need al the numerical columns. aslo we need to get rid of the columns that are directly correlated with Share
# since it is what we are trying to predict. If we include them it will cause the algorithm to overfit
predictors = ["Age", "G", "GS", "MP", "FG", "FGA", 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'W', 'L', 'W/L%',
       'GB', 'PS/G', 'PA/G', 'SRS']

In [91]:
train= stats[stats["Year"]<2021]
test = stats[stats["Year"]==2021]

In [92]:
# we will use ridge regression. It is similar to lineer regression but it prevents overfitting by shrinking the lineeer regression 
# coefficients.
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [93]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [94]:
predictions=reg.predict(test[predictors])
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [95]:
predictions

       predictions
630       0.017665
631      -0.009574
632       0.007311
633       0.000594
634       0.016941
...            ...
13897    -0.003038
13898    -0.001271
13899     0.026298
13900    -0.009594
13901     0.003680

[540 rows x 1 columns]

In [96]:
combination= pd.concat([test[["Player","Share"]],predictions],axis=1)

In [97]:
combination.sort_values("Share",ascending=False).head(10)

                      Player  Share  predictions
641             Nikola Jokić  0.961     0.153780
8624             Joel Embiid  0.580     0.164576
3651           Stephen Curry  0.449     0.145233
9907   Giannis Antetokounmpo  0.345     0.212965
1389              Chris Paul  0.138     0.075122
10997            Luka Dončić  0.042     0.152263
7464          Damian Lillard  0.038     0.120600
3536           Julius Randle  0.020     0.088699
3531            Derrick Rose  0.010     0.036252
11358            Rudy Gobert  0.008     0.099385

#### Error metric
Error metric tells if the algortihm did well.

In [98]:
from sklearn.metrics import mean_squared_error

In [99]:
mean_squared_error(combination["Share"],combination["predictions"])

0.0027417502026552886

In [100]:
combination["Share"].value_counts()

0.000    525
0.001      3
0.961      1
0.138      1
0.010      1
0.020      1
0.449      1
0.005      1
0.038      1
0.003      1
0.580      1
0.345      1
0.042      1
0.008      1
Name: Share, dtype: int64

In [101]:
combination=combination.sort_values("Share",ascending=False)
combination["actual_Rk"]=list(range(1,combination.shape[0]+1))
combination=combination.sort_values("predictions",ascending=False)
combination["predicted_Rk"]=list(range(1,combination.shape[0]+1))

In [102]:

combination

                      Player  Share  predictions  actual_Rk  predicted_Rk
9907   Giannis Antetokounmpo  0.345     0.212965          4             1
8624             Joel Embiid  0.580     0.164576          2             2
641             Nikola Jokić  0.961     0.153780          1             3
10997            Luka Dončić  0.042     0.152263          6             4
4177            Kevin Durant  0.000     0.147372        531             5
...                      ...    ...          ...        ...           ...
13476          Killian Hayes  0.000    -0.041273        200           536
5588             Isaac Okoro  0.000    -0.042026        428           537
9915             P.J. Tucker  0.000    -0.042282         33           538
3862        Anžejs Pasečņiks  0.000    -0.048032        489           539
11768           Didi Louzada  0.000    -0.056064        267           540

[540 rows x 5 columns]

In [115]:
combination.sort_values("predictions", ascending=False).head(30)

                        Player  Share  predictions  actual_Rk  predicted_Rk
9907     Giannis Antetokounmpo  0.345     0.212965          4             1
8624               Joel Embiid  0.580     0.164576          2             2
641               Nikola Jokić  0.961     0.153780          1             3
10997              Luka Dončić  0.042     0.152263          6             4
4177              Kevin Durant  0.000     0.147372        531             5
3736              LeBron James  0.001     0.146890         15             6
3651             Stephen Curry  0.449     0.145233          3             7
4174              James Harden  0.001     0.143800         13             8
11784          Zion Williamson  0.000     0.139716        251             9
3876         Russell Westbrook  0.005     0.130958         11            10
6093              Jimmy Butler  0.000     0.121353        442            11
7464            Damian Lillard  0.038     0.120600          7            12
5328             Kawhi Leonard  0.001     0.116189         14            13
3863              Bradley Beal  0.000     0.113724        488            14
12493             De'Aaron Fox  0.000     0.107452        246            15
11308               Trae Young  0.000     0.106665        235            16
4178              Kyrie Irving  0.000     0.104826        530            17
11358              Rudy Gobert  0.008     0.099385         10            18
7927        Karl-Anthony Towns  0.000     0.099068        103            19
3728             Anthony Davis  0.000     0.098448        504            20
1695               Zach LaVine  0.000     0.097447        292            21
845           Domantas Sabonis  0.000     0.096379        354            22
2592   Shai Gilgeous-Alexander  0.000     0.096207        310            23
8189            Christian Wood  0.000     0.093616         93            24
1096              Jayson Tatum  0.000     0.093471        400            25
13886            DeMar DeRozan  0.000     0.092553        177            26
1689            Nikola Vučević  0.000     0.090987        298            27
3536             Julius Randle  0.020     0.088699          8            28
6088               Bam Adebayo  0.000     0.083992        414            29
11346         Donovan Mitchell  0.000     0.080724        232            30

In [135]:
# define an error metric
#calculate how many players we placed correctly to top 5
# question is if we placed the person that should actaully be in the top 5, into the top 5 in predicted ranks.
# go down the rows acooording to predicted ranks and add a point when you see a player that is in the actual top 5
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index,row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found / seen)
        seen += 1
    #print("ps:", ps)
    return sum(ps) / len(ps)

In [136]:
find_ap(combination) # the higher the value the better

0.7445887445887445

#### Back testing

In [137]:
years=list(range(1991,2022))

In [138]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors],train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [139]:
aps

[0.47000000000000003,
 0.3922012578616352,
 0.8102564102564103,
 0.3871428571428571,
 0.8392857142857142,
 0.9266666666666665,
 0.6835164835164835,
 0.9666666666666666,
 0.6899267399267399,
 0.563498817966903,
 0.4071008403361344,
 0.6434782608695653,
 0.8099999999999999,
 0.925,
 0.805194805194805,
 0.6976190476190476,
 0.41488095238095235,
 0.7112087912087912,
 0.6332775919732441,
 0.9028571428571428,
 0.8242424242424242,
 0.8111111111111111,
 0.8,
 0.63,
 0.9428571428571428,
 0.7445887445887445]

In [142]:
mean_aps=sum(aps) / len(aps)
mean_aps

0.7089453257511225

In [143]:
def add_ranks(combination):
    combination = combination.sort_values("predictions", ascending=False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("Share", ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = (combination["Rk"] - combination["Predicted_Rk"])
    return combination

In [144]:
add_ranks(all_predictions[1])

                Player  Share  predictions  Predicted_Rk   Rk  Diff
1600       Karl Malone  0.857     0.192360             2    1    -1
10524   Michael Jordan  0.832     0.167672             3    2    -1
908         Grant Hill  0.327     0.128664             6    3    -3
4682      Tim Hardaway  0.207     0.059992            20    4   -16
8248         Glen Rice  0.117     0.033122            53    5   -48
...                ...    ...          ...           ...  ...   ...
10136   Horacio Llamas  0.000     0.010225           156  437   281
3576     Ennis Whatley  0.000     0.010287           155  438   283
10594  Kevin Salvadori  0.000     0.010594           154  439   285
1138    Aaron Williams  0.000     0.010608           153  440   287
6792     Melvin Booker  0.000    -0.055141           441  441     0

[441 rows x 6 columns]

In [149]:
rank=add_ranks(all_predictions[1])
rank.sort_values(["Rk"],ascending=True).head(5)

               Player  Share  predictions  Predicted_Rk  Rk  Diff
1600      Karl Malone  0.857     0.192360             2   1    -1
10524  Michael Jordan  0.832     0.167672             3   2    -1
908        Grant Hill  0.327     0.128664             6   3    -3
4682     Tim Hardaway  0.207     0.059992            20   4   -16
8248        Glen Rice  0.117     0.033122            53   5   -48

In [150]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [151]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [153]:
aps

[0.47000000000000003,
 0.3922012578616352,
 0.8102564102564103,
 0.3871428571428571,
 0.8392857142857142,
 0.9266666666666665,
 0.6835164835164835,
 0.9666666666666666,
 0.6899267399267399,
 0.563498817966903,
 0.4071008403361344,
 0.6434782608695653,
 0.8099999999999999,
 0.925,
 0.805194805194805,
 0.6976190476190476,
 0.41488095238095235,
 0.7112087912087912,
 0.6332775919732441,
 0.9028571428571428,
 0.8242424242424242,
 0.8111111111111111,
 0.8,
 0.63,
 0.9428571428571428,
 0.7445887445887445]

In [152]:
mean_ap

0.7089453257511225

In [161]:
all_predictions

                  Player  Share  predictions  Predicted_Rk   Rk  Diff
10510     Michael Jordan  0.986     0.174621             5    1    -4
9830      David Robinson  0.508     0.211609             2    2     0
7350   Anfernee Hardaway  0.319     0.097165            12    3    -9
4952     Hakeem Olajuwon  0.211     0.204946             3    4     1
10513     Scottie Pippen  0.200     0.067044            20    5   -15
...                  ...    ...          ...           ...  ...   ...
11683         Tyus Jones  0.000     0.013040           184  536   352
1099        Marcus Smart  0.000     0.013045           183  537   354
11769       Eric Bledsoe  0.000     0.013096           182  538   356
3641       James Wiseman  0.000     0.013279           181  539   358
11768       Didi Louzada  0.000    -0.056064           540  540     0

[12123 rows x 6 columns]

### Diagnosing model performance

In [164]:
# check the performance for the top 5 over the years according to the differences bbetween the actual and the predicted ranking
all_predictions[all_predictions["Rk"]<6].sort_values(["Diff"]).head(10)

                 Player  Share  predictions  Predicted_Rk  Rk  Diff
1224         Jason Kidd  0.712     0.027957            52   2   -50
8248          Glen Rice  0.117     0.033122            53   5   -48
5175         Steve Nash  0.839     0.032686            47   1   -46
12726       Joakim Noah  0.258     0.039549            46   4   -42
8516    Peja Stojaković  0.228     0.035581            39   4   -35
5193         Steve Nash  0.739     0.051338            35   1   -34
3657   Chauncey Billups  0.344     0.051437            34   5   -29
1389         Chris Paul  0.138     0.075122            33   5   -28
5208         Steve Nash  0.785     0.070791            23   2   -21
4682       Tim Hardaway  0.207     0.059992            20   4   -16

In [176]:
# another way to diagnose the algorithm is to look at the coefficient of the regression
reg.coef_ # highest values refer to the most important variables in regression

array([ 4.46152797e-04,  1.08342494e-04, -2.31292114e-06, -3.99079856e-03,
        6.01399237e-03,  6.62003117e-03, -1.25096929e-01,  6.87730574e-03,
       -1.30992978e-02, -1.02100921e-02,  1.50148154e-02, -1.77779088e-02,
        1.35191297e-03,  6.25170095e-02, -6.89198441e-03,  1.17130353e-02,
       -4.63529189e-03,  2.19580852e-02,  3.53929217e-02, -2.82142626e-02,
        7.09698014e-03,  1.19992933e-02,  1.14612739e-02, -9.17128498e-03,
       -3.43733477e-03,  5.90184735e-03, -3.61418449e-04,  1.86580500e-04,
        1.20495443e-01,  2.82504492e-04, -8.01208331e-04,  2.72956345e-04,
       -7.22902702e-04])

In [177]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)
# So the most important valuables are W/L% , eFG% , DRB ,...

           0     1
28  0.120495  W/L%
13  0.062517  eFG%
18  0.035393   DRB
17  0.021958   ORB
10  0.015015    2P
21  0.011999   STL
15  0.011713   FTA
22  0.011461   BLK
20  0.007097   AST
7   0.006877    3P
5   0.006620   FGA
4   0.006014    FG
25  0.005902   PTS
12  0.001352   2P%
0   0.000446   Age
29  0.000283    GB
31  0.000273  PA/G
27  0.000187     L
1   0.000108     G
2  -0.000002    GS
26 -0.000361     W
32 -0.000723   SRS
30 -0.000801  PS/G
24 -0.003437    PF
3  -0.003991    MP
16 -0.004635   FT%
14 -0.006892    FT
23 -0.009171   TOV
9  -0.010210   3P%
8  -0.013099   3PA
11 -0.017778   2PA
19 -0.028214   TRB
6  -0.125097   FG%